fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic-settings==2.6.1
opensearch-py==2.6.0
sqlalchemy==2.0.35
psycopg[binary]==3.2.3
alembic==1.13.3
python-multipart==0.0.12
celery==5.4.0
redis==5.0.8
requests==2.32.3
